<p-toast></p-toast>
<div class="signin-content">
    <mat-card>
        <mat-card-title>
            <div class="box" >
                <div>
                    Manage User
                </div>
                <div >
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Search..." />
                    </span>
                </div>
                <div >
                    <button pButton pRipple id="new" label="Add New User" icon="pi pi-plus"
                            class="p-button-rounded p-button-success" >
                    </button>
                </div>
            </div>
        </mat-card-title>
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-around center" style="height:100%">
                <mat-spinner [diameter]="50" strokeWidth="5" *ngIf="visibility ">
                </mat-spinner>
            </div>
            <p-table #dt responsiveLayout="stack" [value]="users" [rows]="5" [paginator]="true"
                [globalFilterFields]="['firstName','middleName','lastName']"
                [(selection)]="selectedUsers" [rowHover]="true" dataKey="id"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">
 
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"><p-tableHeaderCheckbox ></p-tableHeaderCheckbox></th>
                        <th style="width: 6rem" pSortableColumn="user_id">ID <p-sortIcon field="user_id"></p-sortIcon></th>
                        <th style="width: 8rem" pSortableColumn="firstName">Name <p-sortIcon field="firstName"></p-sortIcon></th>
                        <th style="width: 10rem" pSortableColumn="emailAddress">Email Address <p-sortIcon field="emailAddress"></p-sortIcon></th>
                        <th style="width: 12rem" pSortableColumn="phoneNumber">Contact Number <p-sortIcon field="phoneNumber"></p-sortIcon></th>
                        <th style="width: 7rem" pSortableColumn="batch">Batch <p-sortIcon field="batch"></p-sortIcon></th>
                        <th style="width: 7rem" pSortableColumn="skill">Skill <p-sortIcon field="skill"></p-sortIcon></th>
                        <th style="width: 6rem" > Actions</th>
                    </tr>
                </ng-template>
    
                <ng-template pTemplate="body" let-user>
                    <tr [pSelectableRow]="user.user_id">
                        <td><p-tableCheckbox  name="chk" value="{{user.user_id}}" ></p-tableCheckbox>
                            
                        </td>
                        <td>{{user.user_id}}</td>
                        <td>{{user.firstName}} {{user.lastName}}</td>
                        <td style="word-wrap: break-word;">{{user.emailAddress}}</td>
                        <td>{{user.phoneNumber}}</td>
                        <td>{{user.batch}}</td>
                        <td>{{user.skill}}</td>
                        <td>
                            <div class="action">
                                <span>
                                    <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success"
                                        ></button>
                                </span>&nbsp;&nbsp;&nbsp;
                                <span>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                        ></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between" style="text-align: center;"> In total there are {{users ? users.length : 0 }}  users.</div>
                </ng-template>
            </p-table>
        </mat-card-content>
           
        



    </mat-card>
    
</div>